<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/css/src/images/teddy_icon.ico">
    </head>

<nav id="navbar">
        <ul>
            <li><div id="logo"></div></li>
            <li><a href="/">Home</a></li>
            <li><a href="/roupas">Roupas</a></li>
            <li><a href="#">Brinquedos</a></li>
            <li><a href="#">Livros Infantis</a></li>
            <li><a href="#">Banho e Higiene</a></li>
            <li><a href="#">Saúde</a></li>
            <li><a href="#">Alimentação</a></li>
            <li>
            <div id="login">
                <a href="#">Faça seu registro</a> 
            </div>
            </li>
        </ul>
</nav>

<body>
    <div class="bg_layer_1"></div>
    {{{body}}}
</body>

</html>