<div id="book-page">
    
    <div class="container">
        {{#with book}}
        <h1>
            {{title}}
        </h1>
        <p>Este livro tem {{pageqty}} páginas.</p>
        <div class="actions">
                <a href="/books/edit/{{id}}">Editar</a>
                <form action="/books/remove/{{id}}" method="POST">
                <input type="submit" value="Remover">
                </form>
                <a href="/books">Voltar</a>
            </div>
        {{/with}}
    </div>
</div>