<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Node.Js com MongoDB</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/works">Serviços</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>