<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Node.Js com MongoDB</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <nav id="navbar">
        
        <ul>
            <div class="logo">
                <a href="#"><p>IceFrelaas</p></a>
                <img src="/img/favicon-32x32.png" alt="Logo Icefrelaas">
            </div>
            <li><a href="/works">Serviços</a></li>
            <li><a href="/works/create">Cadastrar Serviço</a></li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
      
    </div>
    <footer class="footer">
    </footer>
   
</body>
</html>